
body {

    background-color: brown ;
    
    font-family: Arial, Helvetica, sans-serif;

    
}
h1 {
    text-align: center;
    color: darkblue;
    
}
.about {
    text-align: right;
    width: 100%;
    color: rgb(233, 218, 12);



.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: rgba(255, 255, 255, 0.637);
border-radius: 25%;
}

.about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    }

    about img {
        width: 150px;
        height: 200px;
        border-radius: 25%;
        border: 2px solid rgb(88, 8, 236);
        }

        about p {
            width:50%;
            text-align: center;
            margin: auto;
            line-height: 125%;
            }
        }

        .project img{ 
            width: 300px;
            height: 300px;
            margin: 10px;
            border: 2px solid rgb(25, 12, 141); /* choose a color */
            display: block;
            margin: auto;
            }